//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 05 17:50:54 2020
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btnd" LOCATE = SITE "C9" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "COUNT_0" BEL "COUNT_1" BEL "COUNT_2" BEL "COUNT_3"
        BEL "COUNT_4" BEL "COUNT_5" BEL "COUNT_6" BEL "COUNT_7" BEL "COUNT_8"
        BEL "COUNT_9" BEL "COUNT_10" BEL "COUNT_11" BEL "COUNT_12" BEL
        "COUNT_13" BEL "COUNT_14" BEL "COUNT_15" BEL "CNTTXT_26" BEL
        "CNTTXT_24" BEL "CNTTXT_25" BEL "CNTTXT_29" BEL "CNTTXT_27" BEL
        "CNTTXT_28" BEL "CNTTXT_30" BEL "CNT_0" BEL "CNT_1" BEL "CNT_2" BEL
        "CNT_3" BEL "CNT_4" BEL "CNT_5" BEL "CNT_6" BEL "CNT_7" BEL "CNT_8"
        BEL "CNT_9" BEL "CNT_10" BEL "CNT_11" BEL "CNT_12" BEL "CNT_13" BEL
        "CNT_14" BEL "CNT_15" BEL "CNT_16" BEL "CNTTXT_31" BEL "CNTTXT_1" BEL
        "CNTTXT_4" BEL "CNTTXT_2" BEL "CNTTXT_3" BEL "CNTTXT_7" BEL "CNTTXT_5"
        BEL "CNTTXT_6" BEL "CNTTXT_8" BEL "CNTTXT_9" BEL "CNTTXT_10" BEL
        "CNTTXT_11" BEL "CNTTXT_0" BEL "CNTTXT_12" BEL "CNTTXT_13" BEL
        "CNTTXT_14" BEL "CNTTXT_15" BEL "CNTTXT_16" BEL "CNTTXT_17" BEL
        "CNTTXT_18" BEL "CNTTXT_19" BEL "CNTTXT_20" BEL "CNTTXT_21" BEL
        "CNTTXT_22" BEL "CNTTXT_23" BEL "CNT1K_0" BEL "CNT1K_1" BEL "CNT1K_2"
        BEL "CNT1K_3" BEL "CNT1K_4" BEL "CNT1K_5" BEL "CNT1K_6" BEL "CNT1K_7"
        BEL "CNT1K_8" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

