//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 05 18:53:40 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btnd" LOCATE = SITE "C9" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "clk1kHz" BEL "countB_0" BEL "countB_1" BEL
        "countB_2" BEL "countB_3" BEL "countB_4" BEL "countB_5" BEL "countB_6"
        BEL "countB_7" BEL "countB_8" BEL "countB_9" BEL "countB_10" BEL
        "countB_11" BEL "countB_12" BEL "countB_13" BEL "countB_14" BEL
        "countB_15" BEL "countB_16" BEL "countB_17" BEL "countB_18" BEL
        "countB_19" BEL "countB_20" BEL "countB_21" BEL "countB_22" BEL
        "countB_23" BEL "countB_24" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

